/* line 6, ../sass/index.scss */
.filed {
  margin-top: 0px;
  margin-left: 4px;
}
/* line 9, ../sass/index.scss */
.filed .title {
  border-top: 1px dashed #eee;
  padding: .5rem 0;
}
/* line 13, ../sass/index.scss */
.filed li {
  margin-bottom: 5px;
}
/* line 16, ../sass/index.scss */
.filed span {
  padding: 8px;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 250px;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
/* line 28, ../sass/index.scss */
.filed a.btn {
  height: 35px;
  line-height: 35px;
  background-color: #5FB878;
  padding: 0 10px;
  margin-right: 5px;
  border-radius: 3px;
  color: #fff;
}
/* line 31, ../sass/index.scss */
.filed a.remove-file {
  display: inline-block;
  border: 1px solid #C9C9C9;
  background-color: #fff;
  color: #555;
}
/* line 6, ../sass/index.scss */
.filed2 {
  margin-top: 0px;
  margin-left: 0px;
}
/* line 9, ../sass/index.scss */
.filed2 .title {
  border-top: 1px dashed #eee;
  padding: .5rem 0;
}
/* line 13, ../sass/index.scss */
.filed2 li {
  margin-bottom: 5px;
}
/* line 16, ../sass/index.scss */
.filed2 span {
  padding: 1px;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 250px;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
/* line 28, ../sass/index.scss */
.filed2 a.btn {
  height: 21px;
  line-height: 21px;
  background-color: #5FB878;
  padding: 0 10px;
  margin-right: 5px;
  border-radius: 3px;
  color: #fff;
}
/* line 31, ../sass/index.scss */
.filed2 a.remove-file {
  display: inline-block;
  border: 1px solid #C9C9C9;
  background-color: #fff;
  color: #555;
}
/* yj_lr dbtj.jsp */
.layui-table-cell .layui-rate {
	padding-top: 0px
}