BODY {
	MARGIN: 0px; FONT: 12px/1.5 Tahoma,Geneva,"ËÎÌו"; COLOR: #000; HEIGHT: 100%
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
A {
	COLOR: #2d52a5; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f76515; TEXT-DECORATION: underline
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.tl {
	TEXT-ALIGN: left
}
.tc {
	TEXT-ALIGN: center
}
.tr {
	TEXT-ALIGN: right
}
.clear {
	CLEAR: both
}
.blue {
	COLOR: #36c
}
.blue:hover {
	COLOR: #36c
}
.orange {
	COLOR: #f60
}
.orange:hover {
	COLOR: #f60
}
.red {
	COLOR: #f00
}
.red:hover {
	COLOR: #f00
}
.black {
	COLOR: #000
}
.black:hover {
	COLOR: #000
}
.green {
	COLOR: green
}
.green:hover {
	COLOR: green
}
.gray {
	COLOR: #808080
}
.gray:hover {
	COLOR: #808080
}
.white {
	COLOR: #fff
}
.white:hover {
	COLOR: #fff
}
.blod {
	FONT-WEIGHT: bold
}
A.blod {
	FONT-WEIGHT: bold
}
.nowrap {
	WHITE-SPACE: nowrap
}
.cor-l {
	LEFT: 0px; WIDTH: 5px; BOTTOM: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 100%
}
.cor-r {
	LEFT: 0px; WIDTH: 5px; BOTTOM: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 100%
}
.cor-r {
	RIGHT: 0px; LEFT: auto
}
B {
	FONT-WEIGHT: bold; COLOR: #f76515
}
I {
	COLOR: #f76515; FONT-STYLE: normal
}
EM {
	COLOR: #808080; FONT-STYLE: normal
}
INPUT.text {
	BACKGROUND-IMAGE: url(../images/u_bg_main.png); BACKGROUND-REPEAT: no-repeat
}
TEXTAREA {
	BACKGROUND-IMAGE: url(../images/u_bg_main.png); BACKGROUND-REPEAT: no-repeat
}
.btn {
	BACKGROUND-IMAGE: url(../images/u_spr_img.png); BACKGROUND-REPEAT: no-repeat
}
.btn B {
	BACKGROUND-IMAGE: url(../images/u_spr_img.png); BACKGROUND-REPEAT: no-repeat
}
BUTTON {
	BACKGROUND-IMAGE: url(../images/u_spr_img.png); BACKGROUND-REPEAT: no-repeat
}
A.button {
	BACKGROUND-IMAGE: url(../images/u_spr_img.png); BACKGROUND-REPEAT: no-repeat
}
A.button B {
	BACKGROUND-IMAGE: url(../images/u_spr_img.png); BACKGROUND-REPEAT: no-repeat
}
.hint-pop .sl {
	BACKGROUND-IMAGE: url(../images/u_spr_img.png); BACKGROUND-REPEAT: no-repeat
}
.hint-pop .sr {
	BACKGROUND-IMAGE: url(../images/u_spr_img.png); BACKGROUND-REPEAT: no-repeat
}
.icon {
	BACKGROUND-IMAGE: url(../images/u_spr_icon.gif); BACKGROUND-REPEAT: no-repeat
}
.hint-pop .cor {
	BACKGROUND-IMAGE: url(../images/u_spr_icon.gif); BACKGROUND-REPEAT: no-repeat
}
.dir-list {
	BACKGROUND-IMAGE: url(../images/u_spr_icon.gif); BACKGROUND-REPEAT: no-repeat
}
.logo {
	BACKGROUND-IMAGE: url(../images/u_spr_icon.gif); BACKGROUND-REPEAT: no-repeat
}
.shared {
	BACKGROUND-IMAGE: url(../images/u_spr_icon.gif); BACKGROUND-REPEAT: no-repeat
}
.hint-contents .cor {
	BACKGROUND-IMAGE: url(../images/u_spr_icon.gif); BACKGROUND-REPEAT: no-repeat
}
.hint-contents .arr {
	BACKGROUND-IMAGE: url(../images/u_spr_icon.gif); BACKGROUND-REPEAT: no-repeat
}
.hint-contents .close {
	BACKGROUND-IMAGE: url(../images/u_spr_icon.gif); BACKGROUND-REPEAT: no-repeat
}
.opt-mmenu I {
	BACKGROUND-IMAGE: url(../images/u_spr_icon.gif); BACKGROUND-REPEAT: no-repeat
}
.logo {
	BACKGROUND-POSITION: -43px -141px; WIDTH: 88px; HEIGHT: 43px
}
.icon {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle; OVERFLOW: hidden; WIDTH: 16px; LINE-HEIGHT: 10; MARGIN-RIGHT: 4px; HEIGHT: 16px
}
.i-newdir {
	BACKGROUND-POSITION: -100px 0px
}
.i-images {
	BACKGROUND-POSITION: -40px -20px
}
.i-delete {
	BACKGROUND-POSITION: -180px -40px
}
.i-delete-s {
	BACKGROUND-POSITION: -100px -100px
}
.i-delete-s:hover {
	BACKGROUND-POSITION: -80px -240px
}
.i-suc {
	BACKGROUND-POSITION: 0px -80px; WIDTH: 32px; HEIGHT: 31px
}
.i-war {
	BACKGROUND-POSITION: 0px -80px; WIDTH: 32px; HEIGHT: 31px
}
.i-err {
	BACKGROUND-POSITION: 0px -80px; WIDTH: 32px; HEIGHT: 31px
}
.i-war {
	BACKGROUND-POSITION: -33px -80px
}
.i-err {
	BACKGROUND-POSITION: -66px -80px
}
.i-new {
	BACKGROUND-POSITION: -100px -80px; WIDTH: 25px; HEIGHT: 20px
}
.i-back {
	BACKGROUND-POSITION: -140px -20px
}
.i-upload {
	BACKGROUND-POSITION: -80px 0px
}
.i-copy {
	BACKGROUND-POSITION: -60px -20px
}
.i-copy1 {
	BACKGROUND-POSITION: -160px 0px
}
.i-dir {
	BACKGROUND-POSITION: -60px 0px
}
.i-dirmark {
	BACKGROUND-POSITION: 0px -20px
}
.i-open {
	BACKGROUND-POSITION: -20px -20px
}
.i-rename {
	BACKGROUND-POSITION: -80px -20px
}
.i-rename-s {
	BACKGROUND-POSITION: -120px -100px
}
.i-rename-s:hover {
	BACKGROUND-POSITION: -100px -240px
}
.i-view {
	BACKGROUND-POSITION: -80px -40px
}
.i-download {
	BACKGROUND-POSITION: -120px 0px
}
.i-copyto {
	BACKGROUND-POSITION: -160px 0px
}
.i-move {
	BACKGROUND-POSITION: -180px 0px
}
.i-edit {
	BACKGROUND-POSITION: -180px -20px
}
.i-star {
	BACKGROUND-POSITION: -160px -40px
}
.i-notice {
	BACKGROUND-POSITION: -140px -40px
}
.i-hint {
	BACKGROUND-POSITION: -120px -40px
}
.i-cor {
	BACKGROUND-POSITION: -131px -120px; WIDTH: 9px; HEIGHT: 4px
}
.i-prev {
	BACKGROUND-POSITION: -100px -60px
}
.i-next {
	BACKGROUND-POSITION: -120px -60px
}
.i-desc {
	BACKGROUND-POSITION: 0px -141px; WIDTH: 41px; HEIGHT: 55px
}
.i-happy {
	BACKGROUND-POSITION: -134px -141px; WIDTH: 26px; HEIGHT: 27px
}
.i-sad {
	BACKGROUND-POSITION: -134px -141px; WIDTH: 26px; HEIGHT: 27px
}
.i-sad {
	BACKGROUND-POSITION: -163px -141px
}
.i-more {
	BACKGROUND-POSITION: -160px -200px
}
.i-play {
	BACKGROUND-POSITION: -180px -200px
}
.i-music {
	BACKGROUND-POSITION: -60px -200px
}
.i-list {
	BACKGROUND-POSITION: 0px -220px
}
.i-renew {
	BACKGROUND-POSITION: -140px -200px
}
.i-cover {
	BACKGROUND-POSITION: -20px -220px
}
.i-newfile {
	BACKGROUND-POSITION: -40px -220px
}
.i-money {
	BACKGROUND-POSITION: -80px -220px
}
.i-qq {
	BACKGROUND-POSITION: -162px -240px; WIDTH: 38px; HEIGHT: 38px
}
.i-mail {
	BACKGROUND-POSITION: -162px -240px; WIDTH: 38px; HEIGHT: 38px
}
.i-mail {
	BACKGROUND-POSITION: -122px -240px
}
.i-mail-s {
	BACKGROUND-POSITION: -60px -220px; WIDTH: 16px; HEIGHT: 16px
}
.i-level {
	BACKGROUND-POSITION: -100px -220px
}
.i-share {
	BACKGROUND-POSITION: -160px -120px
}
.i-cancel-share {
	BACKGROUND-POSITION: -140px -120px
}
.i-vip {
	BACKGROUND-POSITION: 0px -240px; OVERFLOW: hidden; WIDTH: 22px; LINE-HEIGHT: 10; HEIGHT: 31px
}
.i-approve {
	BACKGROUND-POSITION: 0px -240px; OVERFLOW: hidden; WIDTH: 22px; LINE-HEIGHT: 10; HEIGHT: 31px
}
.i-app-disabled {
	BACKGROUND-POSITION: 0px -240px; OVERFLOW: hidden; WIDTH: 22px; LINE-HEIGHT: 10; HEIGHT: 31px
}
.i-approve {
	BACKGROUND-POSITION: -23px -240px
}
.i-app-disabled {
	BACKGROUND-POSITION: -46px -240px
}
.i-clockwise {
	BACKGROUND-POSITION: -160px -220px
}
.i-inverted {
	BACKGROUND-POSITION: -180px -220px
}
.icon-themes {
	DISPLAY: inline-block; BACKGROUND: url(../images/theme.gif) no-repeat; MARGIN-BOTTOM: -2px; VERTICAL-ALIGN: middle; WIDTH: 14px; MARGIN-RIGHT: 3px; HEIGHT: 14px
}
.icon-li {
	FONT-SIZE: 10px; FONT-FAMILY: Arial
}
.btn {
	PADDING-RIGHT: 10px; DISPLAY: inline-block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 25px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 25px
}
.btn A {
	VERTICAL-ALIGN: top! important
}
.btn B {
	BACKGROUND-POSITION: right 0px; RIGHT: -1px; OVERFLOW: hidden; WIDTH: 5px; POSITION: absolute; TOP: 0px; HEIGHT: 100%
}

@media Unknown    
{
SPAN.btn B {
	RIGHT: -10px
}
    }
.btn:hover {
	BACKGROUND-POSITION: 0px -26px; COLOR: #2d52a5; TEXT-DECORATION: none
}
.btn:hover B {
	BACKGROUND-POSITION: right -26px
}
.disabled {
	BACKGROUND-POSITION: -32px -115px; CURSOR: default; COLOR: #d6d6d6
}
.disabled:hover {
	BACKGROUND-POSITION: -32px -115px; CURSOR: default; COLOR: #d6d6d6
}
.disabled B {
	BACKGROUND-POSITION: right -115px
}
.disabled:hover B {
	BACKGROUND-POSITION: right -115px
}
.btn-orange {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 96px; COLOR: #fff; LINE-HEIGHT: 31px; PADDING-TOP: 0px; HEIGHT: 31px; TEXT-ALIGN: center
}
.btn-green {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 96px; COLOR: #fff; LINE-HEIGHT: 31px; PADDING-TOP: 0px; HEIGHT: 31px; TEXT-ALIGN: center
}
.btn-gray {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 96px; COLOR: #fff; LINE-HEIGHT: 31px; PADDING-TOP: 0px; HEIGHT: 31px; TEXT-ALIGN: center
}
.btn-orange B {
	DISPLAY: none
}
.btn-green B {
	DISPLAY: none
}
.btn-gray B {
	DISPLAY: none
}
.btn-orange {
	BACKGROUND-POSITION: 0px -478px
}
.btn-orange:hover {
	BACKGROUND-POSITION: -107px -478px; COLOR: #fff
}
.btn-green {
	BACKGROUND-POSITION: 0px -510px
}
.btn-green:hover {
	BACKGROUND-POSITION: -107px -510px; COLOR: #fff
}
.btn-gray {
	BACKGROUND-POSITION: 0px -542px; CURSOR: default; COLOR: #e3e3e3
}
.btn-gray:hover {
	BACKGROUND-POSITION: 0px -542px; CURSOR: default; COLOR: #e3e3e3
}
.btn-add {
	DISPLAY: inline-block; BACKGROUND: url(../images/btn_add.png); WIDTH: 92px; TEXT-INDENT: 30px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: left
}
.btn-add:hover {
	BACKGROUND-POSITION: 0px -25px; COLOR: #2d52a5; TEXT-DECORATION: none
}
.add-disabled {
	BACKGROUND-POSITION: 0px -75px; COLOR: #d6d6d6
}
.add-disabled:hover {
	BACKGROUND-POSITION: 0px -75px; COLOR: #d6d6d6
}
.img {
	PADDING-LEFT: 27px
}
.img .icon {
	LEFT: 8px; POSITION: absolute; TOP: 5px
}
.img .i-new {
	RIGHT: 0px; LEFT: auto; TOP: -7px
}
.list {
	PADDING-RIGHT: 20px
}
.list B {
	WIDTH: 20px
}
.no-text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 32px; PADDING-TOP: 0px
}
.no-text EM {
	DISPLAY: none
}
.dir-list {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: -160px -60px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 20px; LINE-HEIGHT: 10; PADDING-TOP: 0px; HEIGHT: 20px
}
.dir-list:hover {
	BACKGROUND-POSITION: -180px -60px
}
INPUT {
	VERTICAL-ALIGN: middle
}
BUTTON {
	VERTICAL-ALIGN: middle
}
SELECT {
	VERTICAL-ALIGN: middle
}
INPUT.text {
	BORDER-RIGHT: #b9c8e7 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 0px -281px; BORDER-TOP: #b9c8e7 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; FONT: 12px/15px Tahoma; BORDER-LEFT: #b9c8e7 1px solid; WIDTH: 220px; PADDING-TOP: 4px; BORDER-BOTTOM: #b9c8e7 1px solid; HEIGHT: 15px
}
TEXTAREA {
	BORDER-RIGHT: #b9c8e7 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 0px -281px; BORDER-TOP: #b9c8e7 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; FONT: 12px/15px Tahoma; BORDER-LEFT: #b9c8e7 1px solid; WIDTH: 220px; PADDING-TOP: 4px; BORDER-BOTTOM: #b9c8e7 1px solid; HEIGHT: 15px
}
TEXTAREA {
	OVERFLOW: auto; WIDTH: 400px; HEIGHT: 150px; resize: none
}
INPUT.error {
	BORDER-RIGHT: #ff7979 1px solid; BORDER-TOP: #ff7979 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #ff7979 1px solid; BORDER-BOTTOM: #ff7979 1px solid; BACKGROUND-COLOR: #fff0f0; moz-box-shadow: inset 1px 1px 2px #FBB; webkit-box-shadow: inset 1px 1px 2px #FBB; box-shadow: inset 1px 1px 2px #FBB
}
TEXTAREA.error {
	BORDER-RIGHT: #ff7979 1px solid; BORDER-TOP: #ff7979 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #ff7979 1px solid; BORDER-BOTTOM: #ff7979 1px solid; BACKGROUND-COLOR: #fff0f0; moz-box-shadow: inset 1px 1px 2px #FBB; webkit-box-shadow: inset 1px 1px 2px #FBB; box-shadow: inset 1px 1px 2px #FBB
}
INPUT.success {
	BORDER-RIGHT: #8d9c97 1px solid; BORDER-TOP: #8d9c97 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #8d9c97 1px solid; COLOR: #92ac51! important; BORDER-BOTTOM: #8d9c97 1px solid; BACKGROUND-COLOR: #f4fedb; moz-box-shadow: inset 1px 1px 2px #C8E77D; webkit-box-shadow: inset 1px 1px 2px #C8E77D; box-shadow: inset 1px 1px 2px #C8E77D
}
text.success {
	BORDER-RIGHT: #8d9c97 1px solid; BORDER-TOP: #8d9c97 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #8d9c97 1px solid; COLOR: #92ac51! important; BORDER-BOTTOM: #8d9c97 1px solid; BACKGROUND-COLOR: #f4fedb; moz-box-shadow: inset 1px 1px 2px #C8E77D; webkit-box-shadow: inset 1px 1px 2px #C8E77D; box-shadow: inset 1px 1px 2px #C8E77D
}
INPUT.s {
	WIDTH: 80px
}
INPUT.l {
	WIDTH: 400px
}
BUTTON {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: 0px -326px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 70px; CURSOR: pointer; COLOR: #2d52a5; BORDER-BOTTOM: 0px; FONT-FAMILY: "ËÎÌו"; HEIGHT: 29px; BACKGROUND-COLOR: #eaf1f9
}
BUTTON:hover {
	BACKGROUND-POSITION: 0px -356px
}
BUTTON.active {
	BACKGROUND-POSITION: -113px -416px; COLOR: #fff
}
BUTTON.active:hover {
	BACKGROUND-POSITION: -113px -446px; COLOR: #fff
}
UNKNOWN {
	BACKGROUND-POSITION: 0px -386px; CURSOR: default; COLOR: #808080; BACKGROUND-COLOR: #efefef
}
BUTTON I {
	DISPLAY: none
}
SELECT {
	VERTICAL-ALIGN: middle; HEIGHT: auto
}
A.button {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: 0px -116px; DISPLAY: inline-block; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 29px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 29px
}
A.button B {
	BACKGROUND-POSITION: right -116px; RIGHT: 0px; WIDTH: 5px; POSITION: absolute; TOP: 0px; HEIGHT: 29px
}
A.button:hover {
	BACKGROUND-POSITION: 0px -146px; COLOR: #2d52a5; TEXT-DECORATION: none
}
A.button:hover B {
	BACKGROUND-POSITION: right -146px
}
A.active {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: -113px -416px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 70px; COLOR: #fff; PADDING-TOP: 0px; TEXT-ALIGN: center
}
A.active:hover {
	BACKGROUND-POSITION: -113px -446px; COLOR: #fff
}
A.active B {
	DISPLAY: none
}
A.active:hover B {
	DISPLAY: none
}
A.disabled {
	BACKGROUND-POSITION: 0px -176px; CURSOR: default; COLOR: #d6d6d6; BACKGROUND-COLOR: #efefef
}
A.disabled:hover {
	BACKGROUND-POSITION: 0px -176px; CURSOR: default; COLOR: #d6d6d6; BACKGROUND-COLOR: #efefef
}
A.disabled B {
	BACKGROUND-POSITION: right -176px
}
A.disabled:hover B {
	BACKGROUND-POSITION: right -176px
}
BUTTON.large {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -416px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 112px; PADDING-TOP: 0px; HEIGHT: 37px; TEXT-ALIGN: center
}
BUTTON.large:hover {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -416px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 112px; PADDING-TOP: 0px; HEIGHT: 37px; TEXT-ALIGN: center
}
A.large {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -416px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 112px; PADDING-TOP: 0px; HEIGHT: 37px; TEXT-ALIGN: center
}
A.large:hover {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -416px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 112px; PADDING-TOP: 0px; HEIGHT: 37px; TEXT-ALIGN: center
}
A.large {
	LINE-HEIGHT: 37px
}
UNKNOWN {
	BACKGROUND-POSITION: 0px -416px; WIDTH: 112px; HEIGHT: 37px
}
.v-line {
	BORDER-RIGHT: #fff 1px solid; DISPLAY: inline-block; MARGIN: 0px 5px; OVERFLOW: hidden; BORDER-LEFT: #d1e4fb 1px solid; WIDTH: 0px; HEIGHT: 23px
}
.list-table {
	WIDTH: 100%; ; WIDTH: expression((this.parentNode.clientWidth)+"px"); POSITION: relative; TOP: 30px
}
.list-table I {
	COLOR: #808080
}
.list-table B {
	FONT-WEIGHT: normal
}
.list-table .op {
	DISPLAY: inline-block; MARGIN-RIGHT: 10px
}
.list-table .op:hover {
	TEXT-DECORATION: none
}
.list-table .op B {
	DISPLAY: none
}
.list-table .op  {
	VERTICAL-ALIGN: middle
}
.list-table TH {
	BORDER-RIGHT: #ececec 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: #f4f4f4; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F4F4F4'); PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #000; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #ececec 1px solid; WHITE-SPACE: nowrap; HEIGHT: 30px; TEXT-ALIGN: left
}
.list-table TH.pointer {
	CURSOR: pointer
}
.list-table TH A {
	PADDING-RIGHT: 10px; DISPLAY: block; WHITE-SPACE: nowrap; POSITION: relative
}
.list-table TH A:hover {
	COLOR: #2d52a5; TEXT-DECORATION: none
}
.list-table TH I {
	BACKGROUND-POSITION: -133px -120px; RIGHT: 0px; VISIBILITY: hidden; OVERFLOW: hidden; WIDTH: 7px; POSITION: absolute; TOP: 5px; HEIGHT: 4px
}
.list-table TH I.order {
	BACKGROUND-POSITION: -133px -125px
}
.list-table TH.focus I {
	VISIBILITY: visible
}
.list-table TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ececec 1px solid; WHITE-SPACE: nowrap
}
.list-table TD  {
	VERTICAL-ALIGN: middle
}
.list-table TD .i-more {
	MARGIN: 1px 0px -1px
}
.list-table TR.focus TD {
	BACKGROUND: #e8f3fe
}
.list-table .msg-text {
	BACKGROUND: #fff; HEIGHT: 200px; TEXT-ALIGN: center
}
.list-table TR:hover .msg-text {
	BACKGROUND: #fff; HEIGHT: 200px; TEXT-ALIGN: center
}
.list-table .msg-text SPAN {
	DISPLAY: inline-block; PADDING-LEFT: 5px; VERTICAL-ALIGN: middle; TEXT-ALIGN: left
}
.list-table .desc {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 240px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; o-text-overflow: ellipsis
}
.list-table .file-text {
	PADDING-LEFT: 30px; POSITION: relative
}
.list-table .file-text .file-type {
	LEFT: -30px; POSITION: absolute; TOP: 5px
}
.list-table .file-name {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; OVERFLOW: hidden; LINE-HEIGHT: 16px; PADDING-TOP: 2px; HEIGHT: 16px
}
.list-table .file-opt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; OVERFLOW: hidden; LINE-HEIGHT: 16px; PADDING-TOP: 2px; HEIGHT: 16px
}
.list-table .file-opt A.op {
	COLOR: #808080; MARGIN-RIGHT: 5px
}
.table-title {
	MARGIN-TOP: 0px; Z-INDEX: 10; POSITION: absolute; TOP: 0px
}
.stat-bar {
	BORDER-RIGHT: #619c0c 1px solid; BORDER-TOP: #619c0c 1px solid; DISPLAY: inline-block; MARGIN-BOTTOM: 2px; OVERFLOW: hidden; BORDER-LEFT: #619c0c 1px solid; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #619c0c 1px solid; TEXT-ALIGN: left
}
.stat-bar I {
	BORDER-RIGHT: #c6e979 0px solid; BORDER-TOP: #c6e979 1px solid; DISPLAY: inline-block; BACKGROUND: #6ec312; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94D71A',endColorstr='#6AC10F'); OVERFLOW: hidden; BORDER-LEFT: #c6e979 0px solid; BORDER-BOTTOM: #c6e979 1px solid
}
.stat-bar-gray {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
.stat-bar-gray I {
	BORDER-LEFT-COLOR: #e6e6e6; BACKGROUND: #e6e6e6; FILTER: none; BORDER-BOTTOM-COLOR: #e6e6e6; BORDER-TOP-COLOR: #e6e6e6; BORDER-RIGHT-COLOR: #e6e6e6
}
.list-table .stat-bar {
	WIDTH: 60px; HEIGHT: 7px
}
.list-table .stat-bar I {
	MARGIN-TOP: -6px; HEIGHT: 5px
}
.bottom .stat-bar {
	MARGIN-BOTTOM: -2px; WIDTH: 285px; HEIGHT: 11px
}
.bottom .stat-bar I {
	HEIGHT: 9px
}
.hint-pop {
	POSITION: absolute
}
.hint-pop .sl {
	OVERFLOW: hidden; WIDTH: 5px; POSITION: absolute; TOP: 0px; HEIGHT: 36px
}
.hint-pop .sr {
	OVERFLOW: hidden; WIDTH: 5px; POSITION: absolute; TOP: 0px; HEIGHT: 36px
}
.hint-pop .sl {
	BACKGROUND-POSITION: -189px -349px; LEFT: 0px
}
.hint-pop .sr {
	BACKGROUND-POSITION: -194px -349px; RIGHT: 0px
}
.hint-pop .cor {
	OVERFLOW: hidden; WIDTH: 11px; POSITION: absolute; HEIGHT: 6px
}
.hint-pop .cor-top {
	BACKGROUND-POSITION: -120px -120px; LEFT: 20px; TOP: -6px
}
.hint-pop .cor-right {
	BACKGROUND-POSITION: -125px -120px; RIGHT: -6px; WIDTH: 6px; TOP: 10px; HEIGHT: 11px
}
.hint-pop .cor-bottom {
	BACKGROUND-POSITION: -120px -125px; LEFT: 20px; BOTTOM: -6px
}
.hint-box .cor-bottom {
	BACKGROUND-POSITION: -120px -132px; HEIGHT: 8px
}
.hint-pop .cor-left {
	BACKGROUND-POSITION: -120px -120px; LEFT: -6px; WIDTH: 6px; TOP: 10px; HEIGHT: 11px
}
.hint-pop H4 {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #f76515; PADDING-BOTTOM: 0px; OVERFLOW: hidden; COLOR: #fff; LINE-HEIGHT: 30px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 30px
}
.hint-con {
	BORDER-RIGHT: #f76515 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #f76515 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #f76515 2px solid; LINE-HEIGHT: 22px; PADDING-TOP: 5px; BORDER-BOTTOM: #f76515 2px solid
}
.hint-box {
	WIDTH: 240px
}
.hint-small {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: #f76515; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 36px; PADDING-TOP: 0px
}
.text-hint {
	PADDING-RIGHT: 6px; DISPLAY: inline-block; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #fff; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: 25px; moz-border-radius: 3px; webkit-border-radius: 3px; border-radius: 3px
}
.correct {
	BACKGROUND-COLOR: #369408
}
.error {
	BACKGROUND-COLOR: #f84e32
}
.warn {
	BACKGROUND-COLOR: #fab50f
}
.normal {
	BACKGROUND: #efefef; COLOR: #808080
}
.stat-msg {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; Z-INDEX: 10000; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="static/theme/blue/images/bg_msg.png"); LEFT: 50%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 18px; COLOR: #606060; LINE-HEIGHT: 20px; PADDING-TOP: 16px; POSITION: absolute; TOP: 50%; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px; webkit-border-image: url(../images/bg_msg.png) 8; moz-border-image: url(../images/bg_msg.png) 8; o-border-image: url(../images/bg_msg.png) 8; border-image: url(../images/bg_msg.png) 8
}
.stat-msg .icon {
	WIDTH: 19px; MARGIN-RIGHT: 5px; HEIGHT: 19px
}
.stat-msg .suc {
	BACKGROUND-POSITION: -80px -60px
}
.stat-msg .err {
	BACKGROUND-POSITION: -140px -60px
}
.stat-msg .load {
	BACKGROUND: url(../images/loading.gif) no-repeat center center
}
.pages {
	PADDING-RIGHT: 19px; PADDING-LEFT: 19px; PADDING-BOTTOM: 0px; PADDING-TOP: 11px; TEXT-ALIGN: right
}
.pages  {
	PADDING-RIGHT: 5px; DISPLAY: inline-block; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px 2px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; LINE-HEIGHT: 14px; PADDING-TOP: 2px; HEIGHT: 14px
}
.pages SPAN {
	BORDER-RIGHT: #dee2e8 1px solid; BORDER-TOP: #dee2e8 1px solid; BACKGROUND: #ecf1f9; BORDER-LEFT: #dee2e8 1px solid; COLOR: #ccc; BORDER-BOTTOM: #dee2e8 1px solid
}
.pages .current {
	BORDER-LEFT-COLOR: #0c4c83; BACKGROUND: #36c; BORDER-BOTTOM-COLOR: #0c4c83; COLOR: #fff; BORDER-TOP-COLOR: #0c4c83; BORDER-RIGHT-COLOR: #0c4c83
}
.pages A {
	BORDER-RIGHT: #c2d1ea 1px solid; BORDER-TOP: #c2d1ea 1px solid; BORDER-LEFT: #c2d1ea 1px solid; BORDER-BOTTOM: #c2d1ea 1px solid
}
.pages A:hover {
	BORDER-LEFT-COLOR: #a8bcde; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #a8bcde; COLOR: #2d52a5; BORDER-TOP-COLOR: #a8bcde; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #a8bcde
}
.pages INPUT {
	BORDER-RIGHT: #a8bcde 0px; PADDING-RIGHT: 3px; BORDER-TOP: #a8bcde 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: 0px -2px; BORDER-LEFT: #a8bcde 1px solid; WIDTH: 25px; LINE-HEIGHT: 16px; PADDING-TOP: 1px; BORDER-BOTTOM: #a8bcde 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 16px; TEXT-ALIGN: center; bacground: #FFF
}
.pages INPUT:unknown {
	outline: none
}
.pages .pages-btn {
	BORDER-RIGHT: #a8bcde 1px solid; BORDER-TOP: #a8bcde 1px solid; BACKGROUND: #fff; MARGIN-LEFT: -2px; BORDER-LEFT: #a8bcde 0px; CURSOR: pointer; BORDER-BOTTOM: #a8bcde 1px solid
}
.file-type {
	DISPLAY: inline-block; BACKGROUND-IMAGE: url(../images/suff/undefind.gif); VERTICAL-ALIGN: middle; WIDTH: 24px; MARGIN-RIGHT: 5px; POSITION: relative; HEIGHT: 29px
}
.shared {
	BACKGROUND-POSITION: -120px -220px; LEFT: -2px; OVERFLOW: hidden; WIDTH: 16px; LINE-HEIGHT: 10; POSITION: absolute; TOP: 24px; HEIGHT: 7px
}
.txt {
	BACKGROUND-IMAGE: url(../images/suff/text.gif)
}
.log {
	BACKGROUND-IMAGE: url(../images/suff/text.gif)
}
.lst {
	BACKGROUND-IMAGE: url(../images/suff/text.gif)
}
.cs {
	BACKGROUND-IMAGE: url(../images/suff/text.gif)
}
.h {
	BACKGROUND-IMAGE: url(../images/suff/text.gif)
}
.bas {
	BACKGROUND-IMAGE: url(../images/suff/text.gif)
}
.c {
	BACKGROUND-IMAGE: url(../images/suff/text.gif)
}
.cpp {
	BACKGROUND-IMAGE: url(../images/suff/text.gif)
}
.pas {
	BACKGROUND-IMAGE: url(../images/suff/text.gif)
}
.dpr {
	BACKGROUND-IMAGE: url(../images/suff/text.gif)
}
.dfm {
	BACKGROUND-IMAGE: url(../images/suff/text.gif)
}
.php {
	BACKGROUND-IMAGE: url(../images/suff/dw.gif)
}
.jsp {
	BACKGROUND-IMAGE: url(../images/suff/dw.gif)
}
.css {
	BACKGROUND-IMAGE: url(../images/suff/dw.gif)
}
.js {
	BACKGROUND-IMAGE: url(../images/suff/dw.gif)
}
.asp {
	BACKGROUND-IMAGE: url(../images/suff/dw.gif)
}
.aspx {
	BACKGROUND-IMAGE: url(../images/suff/dw.gif)
}
.exe {
	BACKGROUND-IMAGE: url(../images/suff/app.gif)
}
.jpg {
	BACKGROUND-IMAGE: url(../images/suff/jpg.gif)
}
.jpeg {
	BACKGROUND-IMAGE: url(../images/suff/jpg.gif)
}
.gif {
	BACKGROUND-IMAGE: url(../images/suff/gif.gif)
}
.png {
	BACKGROUND-IMAGE: url(../images/suff/png.gif)
}
.bmp {
	BACKGROUND-IMAGE: url(../images/suff/png.gif)
}
.jiff {
	BACKGROUND-IMAGE: url(../images/suff/image.gif)
}
.psd {
	BACKGROUND-IMAGE: url(../images/suff/ps.gif)
}
.fla {
	BACKGROUND-IMAGE: url(../images/suff/fl.gif)
}
.as {
	BACKGROUND-IMAGE: url(../images/suff/fl.gif)
}
.swf {
	BACKGROUND-IMAGE: url(../images/suff/swf.gif)
}
.ai {
	BACKGROUND-IMAGE: url(../images/suff/ai.gif)
}
.doc {
	BACKGROUND-IMAGE: url(../images/suff/word.gif)
}
.docx {
	BACKGROUND-IMAGE: url(../images/suff/word.gif)
}
.ppt {
	BACKGROUND-IMAGE: url(../images/suff/ppt.gif)
}
.pptx {
	BACKGROUND-IMAGE: url(../images/suff/ppt.gif)
}
.xls {
	BACKGROUND-IMAGE: url(../images/suff/excel.gif)
}
.xlsx {
	BACKGROUND-IMAGE: url(../images/suff/excel.gif)
}
.dbx {
	BACKGROUND-IMAGE: url(../images/suff/outlook.gif)
}
.html {
	BACKGROUND-IMAGE: url(../images/suff/html.gif)
}
.htm {
	BACKGROUND-IMAGE: url(../images/suff/html.gif)
}
.xml {
	BACKGROUND-IMAGE: url(../images/suff/html.gif)
}
.mht {
	BACKGROUND-IMAGE: url(../images/suff/html.gif)
}
.shtml {
	BACKGROUND-IMAGE: url(../images/suff/html.gif)
}
.pdf {
	BACKGROUND-IMAGE: url(../images/suff/pdf.gif)
}
.eml {
	BACKGROUND-IMAGE: url(../images/suff/mail.gif)
}
.mp1 {
	BACKGROUND-IMAGE: url(../images/suff/music.gif)
}
.mp2 {
	BACKGROUND-IMAGE: url(../images/suff/music.gif)
}
.ogg {
	BACKGROUND-IMAGE: url(../images/suff/music.gif)
}
.ape {
	BACKGROUND-IMAGE: url(../images/suff/music.gif)
}
.aif {
	BACKGROUND-IMAGE: url(../images/suff/music.gif)
}
.aifc {
	BACKGROUND-IMAGE: url(../images/suff/music.gif)
}
.aiff {
	BACKGROUND-IMAGE: url(../images/suff/music.gif)
}
.mid {
	BACKGROUND-IMAGE: url(../images/suff/music.gif)
}
.wmf {
	BACKGROUND-IMAGE: url(../images/suff/music.gif)
}
.wav {
	BACKGROUND-IMAGE: url(../images/suff/music.gif)
}
.mp3 {
	BACKGROUND-IMAGE: url(../images/suff/mp3.gif)
}
.wma {
	BACKGROUND-IMAGE: url(../images/suff/wma.gif)
}
.flv {
	BACKGROUND-IMAGE: url(../images/suff/video.gif)
}
.dat {
	BACKGROUND-IMAGE: url(../images/suff/video.gif)
}
.srt {
	BACKGROUND-IMAGE: url(../images/suff/video.gif)
}
.ts {
	BACKGROUND-IMAGE: url(../images/suff/video.gif)
}
.asf {
	BACKGROUND-IMAGE: url(../images/suff/video.gif)
}
.mpg {
	BACKGROUND-IMAGE: url(../images/suff/mpg.gif)
}
.mpeg {
	BACKGROUND-IMAGE: url(../images/suff/mpg.gif)
}
.rm {
	BACKGROUND-IMAGE: url(../images/suff/rm.gif)
}
.rmvb {
	BACKGROUND-IMAGE: url(../images/suff/rm.gif)
}
.wmv {
	BACKGROUND-IMAGE: url(../images/suff/wmv.gif)
}
.avi {
	BACKGROUND-IMAGE: url(../images/suff/avi.gif)
}
.mp4 {
	BACKGROUND-IMAGE: url(../images/suff/mp4.gif)
}
.mov {
	BACKGROUND-IMAGE: url(../images/suff/mov.gif)
}
.mkv {
	BACKGROUND-IMAGE: url(../images/suff/dvd.gif)
}
.threddgp {
	BACKGROUND-IMAGE: url(../images/suff/3gp.gif)
}
.rar {
	BACKGROUND-IMAGE: url(../images/suff/compress.gif)
}
.zip {
	BACKGROUND-IMAGE: url(../images/suff/compress.gif)
}
.z {
	BACKGROUND-IMAGE: url(../images/suff/compress.gif)
}
.gz {
	BACKGROUND-IMAGE: url(../images/suff/compress.gif)
}
.gzip {
	BACKGROUND-IMAGE: url(../images/suff/compress.gif)
}
.tar {
	BACKGROUND-IMAGE: url(../images/suff/compress.gif)
}
.cab {
	BACKGROUND-IMAGE: url(../images/suff/compress.gif)
}
.wim {
	BACKGROUND-IMAGE: url(../images/suff/compress.gif)
}
.arj {
	BACKGROUND-IMAGE: url(../images/suff/compress.gif)
}
.sevenz {
	BACKGROUND-IMAGE: url(../images/suff/7z.gif)
}
.iso {
	BACKGROUND-IMAGE: url(../images/suff/iso.gif)
}
.nrg {
	BACKGROUND-IMAGE: url(../images/suff/iso.gif)
}
.isz {
	BACKGROUND-IMAGE: url(../images/suff/iso.gif)
}
.cue {
	BACKGROUND-IMAGE: url(../images/suff/iso.gif)
}
.bin {
	BACKGROUND-IMAGE: url(../images/suff/iso.gif)
}
I.img {
	BACKGROUND-IMAGE: url(../images/suff/iso.gif)
}
.ifu {
	BACKGROUND-IMAGE: url(../images/suff/iso.gif)
}
.bc {
	BACKGROUND-IMAGE: url(../images/suff/down.gif)
}
.jccfg3 {
	BACKGROUND-IMAGE: url(../images/suff/down.gif)
}
.fg {
	BACKGROUND-IMAGE: url(../images/suff/down.gif)
}
.td {
	BACKGROUND-IMAGE: url(../images/suff/down.gif)
}
.part {
	BACKGROUND-IMAGE: url(../images/suff/down.gif)
}
.met {
	BACKGROUND-IMAGE: url(../images/suff/down.gif)
}
.torrent {
	BACKGROUND-IMAGE: url(../images/suff/down.gif)
}
I.img {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.hint-contents {
	BORDER-RIGHT: #fce4cb 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fce4cb 1px solid; PADDING-LEFT: 10px; Z-INDEX: 1000; BACKGROUND: #fcfbe7; PADDING-BOTTOM: 5px; BORDER-LEFT: #fce4cb 1px solid; WIDTH: 300px; COLOR: #867b78; PADDING-TOP: 5px; BORDER-BOTTOM: #fce4cb 1px solid; POSITION: absolute; moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3); webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3); box-shadow: 1px 1px 5px rgba(0,0,0,0.3); moz-border-radius: 4px; webkit-border-radius: 4px; border-radius: 4px
}
.hint-contents .icon {
	BACKGROUND-POSITION: 0px -280px; WIDTH: 43px; HEIGHT: 51px
}
.hint-contents .text-con {
	DISPLAY: inline-block; PADDING-LEFT: 5px; VERTICAL-ALIGN: middle; WIDTH: 245px; LINE-HEIGHT: 22px
}
.hint-contents .bottom {
	PADDING-RIGHT: 10px; BORDER-TOP: #faeee2 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 5px -10px -5px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.hint-contents .cor {
	OVERFLOW: hidden; WIDTH: 4px; POSITION: absolute; HEIGHT: 4px
}
.hint-contents .arr {
	OVERFLOW: hidden; WIDTH: 4px; POSITION: absolute; HEIGHT: 4px
}
.hint-contents .arr-t {
	BACKGROUND-POSITION: -47px -289px; LEFT: 20px; WIDTH: 13px; TOP: -7px; HEIGHT: 7px
}
.hint-contents .arr-b {
	BACKGROUND-POSITION: -47px -289px; LEFT: 20px; WIDTH: 13px; TOP: -7px; HEIGHT: 7px
}
.hint-contents .arr-r {
	BACKGROUND-POSITION: -53px -289px; RIGHT: -7px; WIDTH: 7px; TOP: 20px; HEIGHT: 13px
}
.hint-contents .arr-l {
	BACKGROUND-POSITION: -53px -289px; RIGHT: -7px; WIDTH: 7px; TOP: 20px; HEIGHT: 13px
}
.hint-contents .arr-b {
	BACKGROUND-POSITION: -47px -295px; BOTTOM: -7px; TOP: auto
}
.hint-contents .arr-l {
	BACKGROUND-POSITION: -47px -289px; RIGHT: auto; LEFT: -7px
}
.hint-contents .close {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: -49px -303px; PADDING-LEFT: 0px; RIGHT: 3px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 11px; LINE-HEIGHT: 10; PADDING-TOP: 0px; POSITION: absolute; TOP: 3px; HEIGHT: 11px
}
.hint-contents .close:hover {
	BACKGROUND-POSITION: -49px -315px
}
.opt-mmenu {
	BORDER-RIGHT: #aac7dd 1px solid; BORDER-TOP: #aac7dd 1px solid; Z-INDEX: 101; BACKGROUND: #f7fafc; BORDER-LEFT: #aac7dd 1px solid; WIDTH: 135px; BORDER-BOTTOM: #aac7dd 1px solid; ZOOM: 1; POSITION: absolute
}
.opt-mmenu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 24px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 23px
}
.opt-mmenu LI A {
	BORDER-RIGHT: #f7fafc 1px solid; BORDER-TOP: #f7fafc 1px solid; DISPLAY: block; PADDING-LEFT: 5px; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 21px; BORDER-BOTTOM: #f7fafc 1px solid
}
.opt-mmenu LI SPAN {
	BORDER-RIGHT: #f7fafc 1px solid; BORDER-TOP: #f7fafc 1px solid; DISPLAY: block; PADDING-LEFT: 5px; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 21px; BORDER-BOTTOM: #f7fafc 1px solid
}
.opt-mmenu LI B {
	BORDER-RIGHT: #f7fafc 1px solid; BORDER-TOP: #f7fafc 1px solid; DISPLAY: block; PADDING-LEFT: 5px; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 21px; BORDER-BOTTOM: #f7fafc 1px solid
}
.opt-mmenu LI A:hover {
	BACKGROUND: #d0e4fb; COLOR: #000; TEXT-DECORATION: none
}
.opt-mmenu LI SPAN {
	DISPLAY: none; CURSOR: default; COLOR: #999
}
.opt-mmenu LI.disabled A {
	DISPLAY: none; CURSOR: default; COLOR: #999
}
.opt-mmenu LI.disabled SPAN {
	DISPLAY: block
}
.opt-mmenu I {
	BORDER-RIGHT: #d7e6f6 1px solid; LEFT: 4px; OVERFLOW: hidden; WIDTH: 19px; POSITION: absolute; TOP: 0px; HEIGHT: 23px
}
.opt-mmenu LI.opt-vline {
	MARGIN: 0px 0px -12px; OVERFLOW: hidden; HEIGHT: 2px
}
.opt-mmenu LI.opt-vline I {
	BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 2px
}
.opt-mmenu LI.opt-vline B {
	DISPLAY: block; BORDER-BOTTOM-COLOR: #fff; OVERFLOW: hidden; BORDER-TOP-COLOR: #d7e6f6; HEIGHT: 0px
}
.o-upload {
	BACKGROUND-POSITION: -140px -96px
}
.o-copy-link {
	BACKGROUND-POSITION: -60px -16px
}
.o-copy {
	BACKGROUND-POSITION: -161px 4px
}
.o-move {
	BACKGROUND-POSITION: -180px 4px
}
.o-edit {
	BACKGROUND-POSITION: -180px -16px
}
.o-delete {
	BACKGROUND-POSITION: -180px -36px
}
.o-newdir {
	BACKGROUND-POSITION: -100px 4px
}
.o-rename {
	BACKGROUND-POSITION: -80px -16px
}
.o-renew {
	BACKGROUND-POSITION: -140px -196px
}
.o-share {
	BACKGROUND-POSITION: -160px -116px
}
.o-cancel-share {
	BACKGROUND-POSITION: -140px -116px
}
.o-play {
	BACKGROUND-POSITION: -180px -196px
}
.o-list {
	BACKGROUND-POSITION: 0px -216px
}
.o-cover {
	BACKGROUND-POSITION: -20px -216px
}
.o-view {
	BACKGROUND-POSITION: -40px -16px
}
.o-reload {
	BACKGROUND-POSITION: -160px -216px
}
.o-open {
	BACKGROUND-POSITION: -60px 4px
}
.o-clockwise {
	BACKGROUND-POSITION: -160px -216px
}
.o-inverted {
	BACKGROUND-POSITION: -180px -216px
}
.o-none {
	BACKGROUND-POSITION: 100px 100px
}
