/****************** 表单样式 ********************/
/*－－TD样式－－*/
td {
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	color: #333333;
	text-decoration: none
}

td_1 {
	font-size: 14px;
	line-height: 180%;
	letter-spacing: 0.1em
}

A:VISITED {
	font-family: "宋体";
	font-size: 9pt;
	text-decoration: none
}

A:HOVER {
	color: #0066ff;
	text-decoration: none;
}

A {
	font-family: "宋体";
	font-size: 9pt;
	color: #000000;
	text-decoration: none
}

p {
	margin-top: 1;
	margin-bottom: 1;
	line-height: 1.5;
	letter-spacing: 1.0;
}

/* －－所有图片样式－－*/
img {
	border: 0
}

/* －－按钮样式－－*/
.menu:link {
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	color: #ffcc33;
	text-decoration: none
}

.menu:visited {
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	color: #ffcc33;
	text-decoration: none
}

.menu:hover {
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	color: #99CCFF;
	text-decoration: underline
}

/* －－按钮样式－－*/
.menucur:link {
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	color: #000000;
	text-decoration: none
}

.menucur:visited {
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	color: #000000;
	text-decoration: none
}

.menucur:hover {
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	color: #99CCFF;
	text-decoration: underline
}

/* －－操作按钮样式－－*/
.button {
	font-size: 9pt;
	color: #FFFFFF;
	width: 80px;
	background-color: #ff9900;
}

.button1 {
	font-size: 9pt;
	font-color: #FFFFFF;
	width: 80px;
	background-color: #d8d8d8;
}

.button2 {
	font-family: "宋体";
	color: #000000;
	padding-top: 3px;
	font-size: 9pt;
	background-image: url("../images/button2.gif");
	width: 80;
	height: 21;
	border: 0;
	cursor: hand;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	vertical-align: top
}

.button3 {
	font-family: "宋体";
	color: #000000;
	padding-top: 3px;
	font-size: 9pt;
	background-image: url("../images/button3.gif");
	width: 110;
	height: 21;
	border: 0;
	cursor: hand;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	vertical-align: top
}

.formbutton3 {
	width: 66px;
	HEIGHT: 25px;
	BORDER-RIGHT: #1c8ab7 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #1c8ab7 1px solid;
	PADDING-LEFT: 2px;
	FONT-SIZE: 12px;
	FILTER: progid: DXImageTransform . Microsoft . Gradient(GradientType = 0, StartColorStr = #5fc4d4, EndColorStr = #0c98ae);
	BORDER-LEFT: #1c8ab7 1px solid;
	CURSOR: hand;
	COLOR: #FFFFFF;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #1c8ab7 1px solid;
	font-weight: bold;
	font-size: 12px;
}

@print formbutton{display:none}
.formbutton1 {
	font-family: "宋体";
	color: #000000;
	padding-top: 3px;
	font-size: 9pt;
	background-image: url("../images/button.gif");
	width: 57;
	height: 21;
	border: 0;
	cursor: hand;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	vertical-align: top
}

.sbutton {
	font-size: 9pt;
	color: #FFFFFF;
	width: 80px;
	background-color: #FF9900;
}

/* －－input样式－－*/
input2 {
	border: 1px solid #999999;
	background-color: #FFFFFF;
	color: #333300;
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	text-decoration: none;
	width: 98%;
}

.input {
	margin: 1px;
	height: 18px;
	border: 1px solid #000000;
}

.input2 {
	margin: 1px;
	border: 1px solid #000000;
}

.input_none {
	padding: 1px;
	height: 18px;
	border: 1px none #FFFFFF;
	background-color: #ECF3FD;
}

/*
.input_line {
	height: 18px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	background-color: #ECF3FD;
}
*/
.input_line {
	height: 18px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	background-color: #FFFFFF;
	width: 110px;
}

.input_line2 {
	height: 18px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	background-color: #FFFFFF;
}


/*************************主要使用css****************************/
/**
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
**/

#header{width:100%;height:100px;background:url(../images/headerbg.gif) 0 -18px repeat-x;margin:0 0 0px 0}
#headiv{width:100%;height:73px;overflow:hidden}
#logo{float:left;margin:0px 0 0 10px;border:none}
#topnav{width:100%;height:20px;font-family:Arial,Helvetica,sans-serif}
#topnav .title_ul,#topnav .title_ul ul{list-style:none;margin:0;padding:0}
#topnav .title_ul{width:100%;position:relative;z-index:100}
#topnav .title_ul li{float:left;position:relative;margin:0;padding:0}
#topnav .title_ul li a{display:block;color:#757575;font-size:13px;padding:5px 14px 5px 14px;+padding:5px 14px 5px 14px;-padding:5px 14px 5px 14px;border-right:1px solid #e5e5e5;border-left:1px solid #ffffff;font-weight:bold;letter-spacing:1px;text-decoration:none}
#topnav .title_ul li a:hover{background:#0CB1F9 url(../images/title_ah.gif) repeat-x;color:#F9F9F9;border-left-color:#4EC8FD;border-right-color:#A5E3FE;text-decoration:none}


#title_nav li:hover ul a,#title_nav li.sfHover ul a{background:#f0f0f0 url(../images/headerbg.gif) 0 -190px repeat-x;color:#757575}
#title_nav li:hover a,#title_nav li.sfHover a{background:#0CB1F9 url(../images/title_ah.gif) repeat-x;color:#F9F9F9;border-left-color:#4EC8FD;border-right-color:#A5E3FE;text-decoration:none}
#title_nav li:hover ul a:hover,#title_nav li.sfHover ul a:hover{background:#0CB1F9 url(../images/title_ah.gif) repeat-x;color:#F9F9F9}
#topnav .title_ul ul{list-style:none;margin:0;position:absolute;top:-999em;left:-1px;width:139px;border:1px solid #D9D9D9;border-top:none;background:#FFF}
#topnav .title_ul li:hover ul,#topnav .title_ul li.sfHover ul{top:28px;left:0}
#topnav .title_ul li ul li{border:0;float:none;text-align:left}
#topnav .title_ul ul a{text-align:left;border:1px solid #666;border-top-color:#E4E4E4;border-bottom:none;border-left:none;border-right:none;width:137px;padding:10px 0;text-indent:13px;margin-left:1px}
#topnav .title_ul ul a:hover{background:#ccc;color:#000}



.titlestyle {
	padding-left: 10px;
	font-weight: bold;
	color: #555555;
}




.awesome, .awesome:visited {
	background: #222 url('../images/alert-overlay.png') repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px; padding: ; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }



.viewbutton2, .viewbutton2:visited {
	background: #222 url('../images/alert-overlay.png') repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	background-color: #2daebf;
	font-family: "宋体", Arial, Courier New;
	font-size:14px;
	font-weight:bold;
}
.viewbutton2:hover							{ background-color: #007d9a; color: #fff; }
.viewbutton2:active							{ top: 1px; }

.right_col {
	display: none;
}
.textclass {
	border: #4d9ab0 1px solid;
	background-color: #FFFFFF;
	color: #333300;
	height: 24px;
	vertical-align:middle;
	margin:0px 0px 0px 0px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	text-decoration: none;
	width: 100%;
}
.textareaclass {
	border: #4d9ab0 1px solid;
	background-color: #FFFFFF;
	color: #333300;
	margin:0px 0px 0px 0px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	text-decoration: none;
	width: 100%;
}
.fileclass {
	height: 22px;
	margin:0px 0px 0px 0px;
	text-decoration: none;
}

.selectclass {
	font-size: 12px;
	height: 24px;
	margin:0px 0px 0px 0px;
	text-decoration: none;
}
.formbutton {
	font-family: "tahoma", "宋体";
	font-size: 12px; 
	color: #005555;
	border: 1px #93bee2 solid;
	border-bottom: #93bee2 1px solid;
	border-left: #93bee2 1px solid;
	border-right: #93bee2 1px solid;
	border-top: #93bee2 1px solid;
	background-image:url(../images/index_button_3.jpg);
	background-color: #ffffff;
	cursor: hand;
	font-style: normal ;
	height:25px;
}
.searchbutton {
	font-family: "tahoma", "宋体";
	font-size: 12px; 
	color: #005555;
	border: 1px #93bee2 solid;
	border-bottom: #93bee2 1px solid;
	border-left: #93bee2 1px solid;
	border-right: #93bee2 1px solid;
	border-top: #93bee2 1px solid;
	background-image:url(../images/index_button_3.jpg);
	background-color: #ffffff;
	cursor: hand;
	font-style: normal ;
	height:25px;
	width:60px;
}
.viewlist {
	border:0;
	border-collapse:collapse;
	width:100%;
	border-top:1px solid #007d9a;
	border-bottom:1px solid #007d9a;
	border-left:1px solid #007d9a;
	border-right:1px solid #007d9a;
	color:#333333;
	background-color:#007d9a;
}

.viewlist .yuan {
	background:#E6E9EE;
}
.viewlist .wang {

	background:#F9F9F9;
}
.viewlist td {
	padding:5px;
	border-right:1px solid #007d9a;
	border-bottom:1px solid #007d9a;
	height:30px;
}
.viewlist th {
	color:#516989;
	padding:5px;
	font-size:12px;
	background:#cfd6df;
	border-left:1px solid #007d9a;
	border-bottom:1px solid #007d9a;
	border-top:1px solid #007d9a;
	height:30px;
}
.deskviewlist {
	border:0px;
	border-collapse:collapse;
	width:100%;
	border-top:1px solid #B2BBC8;
	border-bottom:1px solid #B2BBC8;
	border-left:1px solid #B2BBC8;
	border-right:1px solid #B2BBC8;
	color:#333333;
	background-color:#F0F2F5;
}

.deskviewlist .yuan {
	background:#E6E9EE;
}
.deskviewlist .wang {
	background:#F9F9F9;
}
.deskviewlist td {
	padding:5px;
	border-right:1px solid #B2BBC8;
	border-bottom:1px solid #B2BBC8;
	height:30px;
}
.deskviewlist th {
	color:#516989;
	padding:5px;;
	background:#cfd6df;
	border-left:1px solid #B2BBC8;
	border-bottom:1px solid #b2bbc8;
	border-top:1px solid #eaedf1;
	height:30px;
}
a.viewbutton {
    background: transparent url('../images/viewbutton_right.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.viewbutton span {
    background: transparent url('../images/viewbutton_left.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
a.viewbutton:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.viewbutton:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

/*****************************************************/
/*公文处理模块表单便框样式*/
.input_border {
	border: 0px
}

/* －－样式－－*/
.divshow {
	height: 18px;
	width: 70px;
	background-color: #64a5e6;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	border: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	valgin: middle
}

.divshow:hover {
	height: 18px;
	width: 70px;
	background-color: #FFFFFF;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	valgin: middle
}

/* －－select样式－－*/
select {
	width: 100%
}

/* －－单选框样式－－*/
input.radio {
	border: #e4e4e4 1px;
	width: 30px
}

/* －－checkbox样式－－*/
input.checkbox {
	border: #e4e4e4 1px;
	width: 30px
}

/* －－文本输入框样式－－*/
textarea {
	border: 1px solid #999999;
	font-size: 10pt;
	background-color: #FFFFFF;
	color: #000000;
	font-family: "宋体", Arial, Courier New;
	line-height: 20.0px;
	text-decoration: none;
	width: 100%
}

.marquee_bg {
	background-attachment: fixed;
	background-image: url(../images/title_marquee.gif);
	background-repeat: no-repeat;
	text-align: center;
	height: 19px;
	width: 242px;
	background-position: left top;
	background-color: #64a5e6
}

/*表单页边距样式*/
.padstyle {
	padding-left: 30px;
	padding-right: 30px
}

/*表單hr屬性---藍色*/
.hrclass {
	height: 8px;
	text-align: center;
	color: 287 CDA
}

/*表單hr屬性---黑色*/
.hrclass1 {
	height: 2px;
	text-align: center;
	color: 000000
}

/*－－普通链接样式－－*/
.position_tr a {
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	color: #000000;
	text-decoration: none
}

.position_tr a:hover {
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	color: #000000;
	text-decoration: none
}

.position_tr a:visited {
	font-family: "宋体", Arial, Courier New;
	font-size: 12px;
	color: #000000;
	text-decoration: none
}

.showpage .top {
	font-size: 14px;
	line-height: 2.0;
	letter-spacing: 1.0;
}

.showpage .title {
	font-size: 24px;
	font-weight: bold;
	line-height: 2.0;
	letter-spacing: 1.0;
}

.showpage .range {
	font-size: 15px;
	font-family: "宋体", Arial, Courier New;
	margin-top: 1;
	margin-bottom: 1;
	line-height: 2.0;
	letter-spacing: 1.0;
}

.showpage .content {
	font-size: 15px;
	font-family: "宋体", Arial, Courier New;
}

.contentTable {
	background-color: #000000
}

.contentTable td {
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.3;
	background-color: #FFFFFF
}

.title {
	font-family: "宋体";
	font-size: 12pt;
	color: #D00000;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	background-attachment: fixed;

	background-repeat: repeat-x;
	vertical-align: super;
	height: 32px;
	text-align: center;
	margin-top: 5px;
}

.title2 {
	font-family: "宋体";
	font-size: 9pt;
	color: #D00000;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	background-attachment: fixed;

	background-repeat: repeat-x;
	vertical-align: super;
	height: 32px;
	text-align: center;
	margin-top: 5px;
}

.search {
	FONT-FAMILY: "宋体";
	font-size: 9pt;
	color: 000000;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
	letter-spacing: 1px;
	background-position: center bottom;
	text-align: left;
	vertical-align: top;
}

.outtable {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	BORDER-LEFT: 0px;
	WIDTH: 630px;
	BORDER-BOTTOM: 0px;
}

.round {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	background-color: #F4F3F3;
	padding: 2px 6px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7D7D7D;
	border-right-color: #7D7D7D;
	border-bottom-color: #7D7D7D;
	border-left-color: #7D7D7D;
	WIDTH: 100%;
}

.round2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	background-color: #ECF3FD;
	padding: 2px 6px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8F8F8F;
	border-right-color: #8F8F8F;
	border-bottom-color: #8F8F8F;
	border-left-color: #8F8F8F;
}

.top_bg {
	font-weight: bold;
	background-color: #6085E8;
}

.left_bg {
	font-weight: bold;
	background-color: #AFC8EF;
}

.right_bg {
	font-weight: bold;
	background-color: #DCEDFF;
}

.content_table {
	width: 100%;
	border-color: #4d9ab0 white white #4d9ab0;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

.table {
	border-color: #4d9ab0 white white #4d9ab0;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

.toptd {
	FONT-FAMILY: "宋体";
	font-size: 9pt;
	color: ffffff;
	border-color: white #1454B1 #1454B1 white;
	background-color: #3878DB;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
	letter-spacing: 1px;
	background-position: center top;
	text-align: left;
	vertical-align: top;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-weight: bold
}

.deeptd {
	vertical-align: middle;
	FONT-FAMILY: "宋体";
	font-size: 9pt;
	color: #000000;
	border-color: white #4d9ab0 #4d9ab0 white;
	background-color: #e5f1f4;
	padding-bottom: 2px;
	padding-top: 1px;
	padding-right: 6px;
	padding-left: 6px;
	letter-spacing: 1px;
	background-position: center top;
	text-align: left;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	nobr;
	height: 25px
}

.tinttd {
	vertical-align: middle;
	FONT-FAMILY: "宋体";
	font-size: 9pt;
	color: #000000;
	border-color: white #4d9ab0 #4d9ab0 white;
	background-color: #f8fbfc;
	padding-top: 1px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	background-position: center top;
	text-align: left;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	height: 25px
}

.deeptd2 {
	vertical-align: middle;
	FONT-FAMILY: "宋体";
	font-size: 9pt;
	color: #000000;
	border-color: white #1454B1 #1454B1 white;
	background-color: #DEF4DD;
	padding-bottom: 2px;
	padding-top: 1px;
	padding-right: 6px;
	padding-left: 6px;
	letter-spacing: 1px;
	background-position: center top;
	text-align: left;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	nobr;
	height: 25px
}

.tinttd2 {
	vertical-align: middle;
	FONT-FAMILY: "宋体";
	font-size: 9pt;
	color: #000000;
	border-color: white #1454B1 #1454B1 white;
	background-color: #ECF3FD;
	padding-top: 1px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	background-position: center top;
	text-align: left;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	height: 25px
}

.fstd {
	FONT-FAMILY: 仿 宋 _GB2312;
	font-size: 9pt;
}

.bfstd {
	FONT-FAMILY: 仿 宋 _GB2312;
	font-size: 9pt;
	FONT-WEIGHT: bolder;
}

.go {
	font-family: "宋体";
	color: #000000;
	padding-top: 3px;
	font-size: 9pt;
	background-image: url("../images/button4.gif");
	width: 21;
	height: 21;
	border: 0;
	cursor: hand;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	vertical-align: top
}

.unnamed1 {
	line-height: 18px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	background-attachment: fixed;
	background-image: url(../images/top_bg3.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

/****************** 模块首页样式 ********************/
.red {
	font-size: 12px;
	color: #CC0000;
	text-decoration: underline;
	font-weight: bold;
}

.main_table {
	width: 100%
}

.view_table {
	width: 100%
}

.view_content_table {
	width: 96%
}

.view_action_table {
	width: 80%
}

.view_right_table {
	width: 194px
}

.view_right_link_table {
	width: 189px
}

.view_right_pic_table {
	width: 100px
}

.view_right_pic {
	width: 194px
}

.mid_col {
	width: 100%
}

.viewlist3 {
	BACKGROUND-COLOR: #4d9ab0;
	padding: 1px;
	border-spacing: 1px
}

.viewlist3 .head {
	BACKGROUND-COLOR: #D8EAFB
}

.viewlist3 .head th {
	BACKGROUND-COLOR: #D8EAFB;
	font-size: 12px
}

.viewlist3 .wang {
	BACKGROUND-COLOR: #f8fbfc;
}

.viewlist3 .yuan {
	BACKGROUND-COLOR: #e5f1f4;
}

.viewlist3 th {
	color: #000000;
	font-size: 14px;
	vlign: "center";
	text-decoration: none;
	font-weight: bolder;
}

.viewlist3 th a:link {
	color: #000000;
	font-size: 14px;
	text-decoration: none;
	font-weight: bolder;
}

.viewlist3 th a:visited {
	color: #000000;
	font-size: 14px;
	text-decoration: none;
	font-weight: bolder;
}

.viewlist3 th a:hover {
	color: #990000;
	font-size: 14px;
	text-decoration: none;
	font-weight: bolder;
}



.viewlist2 .wang {
	BACKGROUND-COLOR: #EEF7FF;
}

.viewlist2 .yuan {
	BACKGROUND-COLOR: #FFFFFF;
}

.viewlist2 th {
	color: #000000;
	font-size: 14px;
	vlign: "center";
	text-decoration: none;
	font-weight: bolder;
}

.viewlist2 th a:link {
	color: #000000;
	font-size: 14px;
	text-decoration: none;
	font-weight: bolder;
}

.viewlist2 th a:visited {
	color: #000000;
	font-size: 14px;
	text-decoration: none;
	font-weight: bolder;
}

.viewlist2 th a:hover {
	color: #990000;
	font-size: 14px;
	text-decoration: none;
	font-weight: bolder;
}
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}


.viewbutton1 {
	font-family: "宋体";
	color: #000000;
	padding-top: 3px;
	font-size: 9pt;
	background-image: url("../images/viewbutton.gif");
	width: 80;
	height: 21;
	border: 0;
	cursor: hand;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
}

.viewbutton1 A:visited {
	display: block;
	COLOR: #000000;
	FONT-SIZE: 9pt;
	FONT-FAMILY: "宋体";
	TEXT-DECORATION: none
}

.viewbutton1 A:hover {
	display: block;
	COLOR: #000000;
	TEXT-DECORATION: none
}

.viewbutton1 A {
	display: block;
	FONT-SIZE: 9pt;
	COLOR: #000000;
	FONT-FAMILY: "宋体";
	TEXT-DECORATION: none
}

.searchview {
	border: 1px solid #007d9a;
	background-color:#ffffff;
}

.searchview td {
	height: 24px;
	padding-left: 10px;
	vertical-align: bottom
}

.search {
	FONT-FAMILY: "宋体";
	font-size: 9pt;
	color: #000000;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
	letter-spacing: 1px;
	background-position: center bottom;
	text-align: left;
	vertical-align: top;
}

.searchbutton2 {
	font-family: "宋体";
	color: #000000;
	padding-top: 3px;
	font-size: 9pt;
	background-image: url("../images/viewbutton.gif");
	width: 80;
	height: 21;
	border: 0;
	cursor: hand;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
}

.table1 {
	font-size: 12px;
	color: #000000;
	background-image: url(../images/xt_mouseout.jpg);
}

.table1 a {
	display: block
}

.table2 {
	font-size: 12px;
	color: #000000;
	background-image: url(../images/xt_mouseover.jpg);
}

.table2 a {
	display: block
}

.table3 {
	font-size: 12px;
	color: #000000;
	background-image: url(../images/dt_mouseout.jpg);
}

/****************** 办公系统工作台页面 ********************/
/*普通td样式*/
td {
	font-size: 12px;
	text-decoration: none;
}

/*页面外框样式*/
.outline {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

/*公告文字样式*/
.info {
	font-size: 12px;
	background-image: url(../images/desktop/dotline.gif);
	background-repeat: repeat-x;
	background-position: bottom
}

/*公告文字样式*/
.bulletin {
	font-size: 12px;
	color: #FFFFFF;
	line-height: 20px;
	padding-top: 5px;
	padding-left: 12px;
	padding-right: 8px
}

.bulletin a:link {
	font-size: 12px;
	color: #FFFFFF;
	line-height: 20px;
	padding-top: 5px;
	padding-left: 12px;
	padding-right: 8px;
	text-decoration: none
}

.bulletin a:visited {
	font-size: 12px;
	color: #FFFFFF;
	line-height: 20px;
	padding-top: 5px;
	padding-left: 12px;
	padding-right: 8px;
	text-decoration: none
}

.bulletin a:hover {
	font-size: 12px;
	color: #FFFFFF;
	line-height: 20px;
	padding-top: 5px;
	padding-left: 12px;
	padding-right: 8px;
	text-decoration: underline
}

/*中间三办信息标题样式*/
.centerTable {
	margin: 5px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	background-color: #F4F3F3;
	padding: 2px 6px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7D7D7D;
	border-right-color: #7D7D7D;
	border-bottom-color: #7D7D7D;
	border-left-color: #7D7D7D;
}

.detail_title {
	font-family: "宋体";
	font-size: 9pt;
	color: #808080;
	font-weight: bold;
	text-decoration: none;
	line-height: 16px;
	background-attachment: fixed;
	background-image: url(../images/table_top.gif);
	background-repeat: repeat-x;
	vertical-align: super;
	height: 32px;
	text-align: left;
	margin-top: 5px;
}

/*中间三办信息具体文字样式*/
.detail {
	font-size: 12px;
	color: 000000;
	height: 18px;
	vertical-align: bottom;
	padding-left: 10px;
	background-image: url(../images/desktop/dotline.gif);
	background-repeat: repeat-x;
	background-position: bottom
}

/*中间虚线样式*/
.v_dotline {
	background-image: url(../images/desktop/v_dotline.gif);
	background-repeat: repeat-y;
}

/*右边工作安排标题文字样式*/
.arrange_title {
	font-size: 13px;
	height: 20px;
	color: ffffff;
	vertical-align: middle;
	padding-left: 3px;
	padding-top: 2px
}

/*右边工作安排'更多'文字样式*/
.arrange_more {
	font-size: 12px;
	height: 16px;
	color: ffffff;
	vertical-align: bottom;
	padding-top: 2px
}

.arrange_more a:link {
	font-size: 12px;
	height: 16px;
	color: ffffff;
	text-decoration: none
}

.arrange_more a:visited {
	font-size: 12px;
	height: 16px;
	color: ffffff;
	text-decoration: none
}

.arrange_more a:hover {
	font-size: 12px;
	height: 16px;
	color: ffffff;
	text-decoration: underline
}

/*右边工作安排文字样式---粗体*/
.arrange_bold {
	font-size: 12px;
	color: 4 C81B6;
	line-height: 18px;
	font-weight: bold
}

.arrange_bold a:link {
	font-size: 12px;
	color: 4 C81B6;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none
}

.arrange_bold a:visited {
	font-size: 12px;
	color: 4 C81B6;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none
}

.arrange_bold a:hover {
	font-size: 12px;
	color: 000000;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none
}

/*右边工作安排文字样式---粗体*/
.arrange {
	font-size: 12px;
	color: 4 C81B6;
	line-height: 18px;
}

.arrange a:link {
	font-size: 12px;
	color: 4 C81B6;
	line-height: 18px;
	text-decoration: none
}

.arrange a:visited {
	font-size: 12px;
	color: 4 C81B6;
	line-height: 18px;
	text-decoration: none
}

.arrange a:hover {
	font-size: 12px;
	color: 000000;
	line-height: 18px;
	text-decoration: none
}

/*下拉菜单文字样式*/
.menu {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 3px
}

.menu a:link {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}

.menu a:visited {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none
}

.menu a:hover {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline
}

/*下拉菜单条样式*/
.menubutton {
	background-Color: #FFCF31;
	border-Left: 1px solid #FFCF31;
	border-Top: 1px solid #FFCF31;
	border-Right: 1px solid #FFCF31;
	border-Bottom: 1px solid #FFCF31;;
}

/*底部文字样式*/
.bottom {
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 30px
}

.position_td {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}

.position_td a:link {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}

.position_td a:visited {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}

.position_td a:hover {
	color: #990000;
	font-size: 12px;
	text-decoration: none;
}

.menu {
	color: #000000
}
