.my_home {
	font-family:  ו;
	color: black;
	font-size: 9pt;
	background-color: white;
}

.my_cont {
	font-family:  ו;
	color: black;
	font-size: 9pt;
	background-color: white;
}

.my_contTitle {
	font-family:  ו;
	color: black;
	font-size: 9pt;
}


