@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot?t=1512436220877");
  /* IE9*/
  src: url("../font/iconfont.eot?t=1512436220877#iefix") format("embedded-opentype"), url("../font/iconfont.ttf?t=1512436220877") format("truetype"), url("../font/iconfont.svg?t=1512436220877#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 16, ../sass/feedbackForm.scss */
.select-input {
  text-align: right;
}

/* line 19, ../sass/feedbackForm.scss */
ul.form-list {
  padding: 0 10px;
  background-color: #fff;
  margin-bottom: 10px;
}
/* line 23, ../sass/feedbackForm.scss */
ul.form-list li {
  display: flex;
  padding: 10px 0;
}
/* line 26, ../sass/feedbackForm.scss */
ul.form-list li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* line 29, ../sass/feedbackForm.scss */
ul.form-list li label {
  min-width: 95px;
}
/* line 31, ../sass/feedbackForm.scss */
ul.form-list li label i, ul.form-list li label em {
  font-style: normal;
  font-size: 1.6rem;
}
/* line 35, ../sass/feedbackForm.scss */
ul.form-list li label i {
  min-width: 10px;
  height: 21px;
  display: inline-block;
}
/* line 40, ../sass/feedbackForm.scss */
ul.form-list li label .tap {
  color: #f25643;
}
/* line 45, ../sass/feedbackForm.scss */
ul.form-list li span {
  flex: 1;
  display: flex;
}
/* line 48, ../sass/feedbackForm.scss */
ul.form-list li span .icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
/* line 56, ../sass/feedbackForm.scss */
ul.form-list li span .icon:after {
  content: "\e602";
  color: #999;
  position: relative;
  top: 1px;
}
/* line 63, ../sass/feedbackForm.scss */
ul.form-list li span textarea, ul.form-list li span input {
  border: none;
  flex: 1;
  background-color: transparent;
  font-size: 1.6rem;
}
/* line 69, ../sass/feedbackForm.scss */
ul.form-list li span textarea {
  resize: none;
  height: 60px;
}

/* line 78, ../sass/feedbackForm.scss */
.file-wrap {
  background-color: #fff;
  margin-bottom: 10px;
}

/* line 82, ../sass/feedbackForm.scss */
.file-upload {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
/* line 86, ../sass/feedbackForm.scss */
.file-upload li {
  box-sizing: border-box;
  flex: 0 0 20%;
  margin: 10px 0;
}
/* line 90, ../sass/feedbackForm.scss */
.file-upload li span {
  width: 50px;
  height: 50px;
  background-color: #fafafa;
  display: flex;
  padding: 0;
  margin: auto;
  background-size: contain;
  background-position: center;
  overflow: hidden;
  position: relative;
}
/* line 103, ../sass/feedbackForm.scss */
.file-upload li span img {
  max-width: 100%;
}
/* line 106, ../sass/feedbackForm.scss */
.file-upload li span input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
}
/* line 114, ../sass/feedbackForm.scss */
.file-upload li em {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
/* line 120, ../sass/feedbackForm.scss */
.file-upload li i {
  font-size: 3rem;
  width: 20px;
  height: 20px;
  margin: auto;
}
/* line 134, ../sass/feedbackForm.scss */
.file-upload li input {
  z-index: 2;
  opacity: 0;
}
/* line 139, ../sass/feedbackForm.scss */
.file-upload li:not(:last-child) img {
  z-index: 9;
  position: relative;
}
/* line 143, ../sass/feedbackForm.scss */
.file-upload li:not(:last-child) input[type="file"] {
  z-index: -1;
}

/* line 150, ../sass/feedbackForm.scss */
.btn-wrap {
  display: flex;
  padding: 15px;
}
/* line 153, ../sass/feedbackForm.scss */
.btn-wrap a.btn {
  flex: 1;
  background-color: #3296FA;
  text-align: center;
  color: #fff;
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 3px;
}
