@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot?t=1512436220877");
  /* IE9*/
  src: url("../font/iconfont.eot?t=1512436220877#iefix") format("embedded-opentype"), url("../font/iconfont.ttf?t=1512436220877") format("truetype"), url("../font/iconfont.svg?t=1512436220877#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 5, ../sass/homepage.scss */
.echarts-wrap {
  display: flex;
  height: 300px;
  flex-direction: column;
  padding: 30px 0;
  margin-top: -20px;
}
/* line 11, ../sass/homepage.scss */
.echarts-wrap .title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
}
/* line 16, ../sass/homepage.scss */
.echarts-wrap .title em {
  font-size: 1.6rem;
}
/* line 19, ../sass/homepage.scss */
.echarts-wrap .title i {
  font-size: 1.6rem;
  color: #999;
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  display: flex;
}
/* line 24, ../sass/homepage.scss */
.echarts-wrap .title i:after {
  content: '\e600';
  transform: rotate(180deg);
  margin-left: 5px;
}
/* line 31, ../sass/homepage.scss */
.echarts-wrap > div {
  flex: 1;
  margin: 10px;
}

/* line 36, ../sass/homepage.scss */
.ranking-list {
  padding: 10px;
}
/* line 38, ../sass/homepage.scss */
.ranking-list li {
  padding: 0 10px;
  background-color: #fff;
  border-radius: 3px;
}
/* line 42, ../sass/homepage.scss */
.ranking-list li > div {
  padding: 10px 0;
}
/* line 54, ../sass/homepage.scss */
.ranking-list li:not(:last-child) {
  margin-bottom: 10px;
}
/* line 59, ../sass/homepage.scss */
.ranking-list .title-bar {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}
/* line 63, ../sass/homepage.scss */
.ranking-list .title-bar span {
  font-size: 1.6rem;
}
/* line 67, ../sass/homepage.scss */
.ranking-list .info-bar {
  display: flex;
}
/* line 69, ../sass/homepage.scss */
.ranking-list .info-bar span {
  flex: 1;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 75, ../sass/homepage.scss */
.ranking-list .info-bar span:first-child {
  text-align: left;
  justify-content: flex-start;
}
/* line 79, ../sass/homepage.scss */
.ranking-list .info-bar span:last-child {
  min-width: 130px;
  justify-content: flex-end;
}
/* line 85, ../sass/homepage.scss */
.ranking-list .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/mini-icon.png);
  background-repeat: no-repeat;
  background-size: 20px;
}
/* line 93, ../sass/homepage.scss */
.ranking-list .icon.fbs {
  background-position: left -60px;
}
/* line 96, ../sass/homepage.scss */
.ranking-list .icon.bjs {
  background-position: left -80px;
}
/* line 99, ../sass/homepage.scss */
.ranking-list .icon.bjl {
  background-position: left -100px;
}
